* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #1b2735, #0a192f);
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  text-shadow: rgb(255, 87, 87) 1px 2px 16px;
  letter-spacing: 25px;
}

header {
  box-shadow: rgb(255, 87, 132) 8px 59px 100px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: center;

  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
  clip-path: polygon(-23% 26%, 120% 23%, 56% 91%, 37% 89%);
  text-shadow: rgb(0, 0, 0) -3px -1px 9px;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  padding: 20px;
  text-align: center;
}
nav ul li:hover {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  height: 100vh;
  display: flex;

  background-image: url("../images/batman2.jpg");
  background-size: cover;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.2rem;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  background-color: black;
}

.back-face {
}
.front-face {
  transform: rotateY(180deg);
}

.rejouer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;

  height: 6rem;

  backdrop-filter: blur(0px) saturate(10%);
  -webkit-backdrop-filter: blur(0px) saturate(10%);
  background-color: rgba(199, 199, 199, 0.46);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

.rejouer-button:hover {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.rejouer-button span {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.rejouer-button:before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  margin-right: 0.5rem;
}

.rejouer-button:after {
  content: "";
  display: block;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  margin-left: 0.5rem;
}

.hidden {
  display: none;
}

#success-message {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  border-radius: 0.3rem;
  text-align: center;
  margin-top: 2rem;
}

#success-message strong {
  font-size: 1.5rem;
}

#success-message p {
  font-size: 1.2rem;
}


/* Tablette */
@media screen and (max-width: 768px) {
  .memory-card {
    width: calc(33.333% - 15px);
  }
}

/* Smartphone */
@media screen and (max-width: 480px) {
  .memory-card {
    width: calc(50% - 15px);
  }
}